HTTP_HOST=
HTTP_PORT=8080
HTTP_TIMEOUT_READ=250ms
HTTP_TIMEOUT_READ_HEADER=200ms
HTTP_TIMEOUT_WRITE=30s
HTTP_TIMEOUT_IDLE=30m

PG_DSN=host=db port=5432 dbname=pastebin_db user=pb_user password=pb_pass sslmode=disable

POSTGRES_DB=pastebin_db
POSTGRES_USER=pb_user
POSTGRES_PASSWORD=pb_pass

MIGRATION_DIR=./migrations

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://pb_user:pb_pass@pastebin-db:5432/pastebin_db?sslmode=disable
